<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <h3>About CEPE</h3>
    <p>
        CEPE is the European association of Paint, Printing Inks and Artists’ 
        colours manufacturers representing approximately 85% of the industry. 
        There are various sub-sectors represented while one of them, the 
        decorating paints sector who is also involved in the Product 
        Environmental Footprint pilot phase for Decorative paints.
    </p>

    <h3>About this node</h3>
    <p>
        This node includes the needed Life Cycle Inventory information as 
        described in the Product Environmental Footprint Category Rules for 
        Decorative Paints (PEFCR) for the specific paint raw materials which 
        are not covered by the Chemicals database offered in another node 
        (Ecoinvent LCDN node). The use of the datasets is strictly offered for 
        the sake of the 24 PEFCR/OEFCRs within the context of the EF pilot 
        phase (2017-2020). For more information, please read the End User 
        License Agreement <a href="http://www.cepe.org/efede/GetFile/Item/ShowFile/EULA%20for%20CEPE%20Chemicals%20for%20Paints%20datasets.pdf?ItemId=47789">here</a> 
        or contact <a href="mailto:Sustainability@cepe.org">Sustainability@cepe.org</a>. 
    </p>

    <p>
        Note: Within the Environmental Footprint dataset, the results for water
        use might be overestimated and shall therefore be interpreted with
        caution. This problem has nothing to do with the impact assessment
        method or the implementability of EF methods, but occurred during the
        technical development of some datasets. All results remain valid and
        usable. The Environmental Footprint datasets will be updated in
        2019 (which will automatically adjust the regionalized water flows).
    </p>
</ui:composition>
