<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <f:metadata>
        <f:viewParam name="src" value="#{loginHandler.source}" />
    </f:metadata>
    
    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
            <ui:param name="pageTitle" value="#{i18n['common.privacyPolicyTitle']}" />
            <ui:define name="content">
                <h:form styleClass="loginForm"
                        prependId="false">
                    <p>
                    	#{i18n['admin.user.privacyPolicyAcceptRedirect']}
						<ui:include src="/admin/common/include/privacyPolicyLinkExternal.xhtml"/>
						<ui:include src="/admin/common/include/privacyPolicyLinkInternal.xhtml"/>
                    	<h:outputText value="{i18n['common.privacyPolicy']}" rendered="#{conf.privacyPolicyURL == null}"/>
                    	#{i18n['admin.user.privacyPolicyAcceptRedirectCont']}
                    </p>

					<ui:include src="/admin/common/include/privacyPolicyAcceptance.xhtml">
						<ui:param name="handler" value="#{loginHandler}" />
					</ui:include>
					
                        <p:commandButton value="#{i18n['admin.continue']}"
                                         action="#{loginHandler.acceptPrivacyPolicy}"
                                         ajax="false"
                                         id="acceptPrivacyPolicyButton" styleClass="buttonRight" />
                </h:form>

                <ui:include src="/messages.xhtml" />

            </ui:define>
        </ui:composition>
    </h:body>
</html>