<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
      
    <f:metadata>
        <f:viewParam name="src" value="#{loginHandler.source}" />
    </f:metadata>
    
    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
            <ui:param name="pageTitle" value="#{i18n['admin.user.changePassword']}" />
            <ui:define name="content">
            	<p>#{i18n['common.passwordExpired']}</p>
                <h:form id="generalForm" prependId="false">
                    <h:panelGroup rendered="#{not empty loginHandler.loginName}">
        <p:panel header="#{i18n['admin.user.loginInfo']}">
        <ui:param name="handler" value="#{loginHandler}" />
            <h:panelGrid columns="2">
                <p:outputLabel value="#{i18n['common.user.loginName']}:" for="nameOut" />
                <h:outputText id="nameOut" value="#{handler.user.userName}" style="padding-left:0.5em;" />
                
                <p:outputLabel value="#{i18n['common.user.passw']}:" for="passw" />
                <p:password id="passw" value="#{handler.plainPassword}" requiredMessage="#{i18n['admin.user.requiredMsg.passw']}" feedback="false" minLength="" maxlength="20" size="20" >
                	<f:validator validatorId="de.iai.ilcd.webgui.validators.PasswordRequirementsValidator" />
                </p:password>
                
                <p:outputLabel value="#{i18n['admin.user.repeatPassw']}:" for="repeatPassw" />
                <p:password id="repeatPassw" value="#{handler.verifyPassword}" feedback="false" minLength="" maxlength="20" size="20" />
            </h:panelGrid>
        		</p:panel>
                        <div class="buttonCenter">
                            <p:commandButton value="#{i18n['admin.user.changeUserInfo']}"
                                             action="#{loginHandler.changeExpiredPassword}"
                                             update="messages"
                                             id="changePasswordButton" />
                        </div>
                    </h:panelGroup>
                    <ui:include src="/messages.xhtml" />
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
