<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui"
    xmlns:f="http://java.sun.com/jsf/core" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:soda="http://java.sun.com/jsf/composite/sodacomp">

    <f:metadata>
        <f:viewParam name="id" value="#{processHandler.dataSetIdString}"></f:viewParam>
        <f:viewParam name="sourceNode" value="#{processHandler.sourceNodeIdString}"></f:viewParam>
        <f:viewParam name="uuid" value="#{processHandler.dataSetUuidString}"></f:viewParam>
        <f:viewParam name="version" value="#{processHandler.dataSetVersionString}"></f:viewParam>
        <f:viewParam name="registryId" value="#{processHandler.registryId}"></f:viewParam>
        <f:viewParam name="registryUUID" value="#{processHandler.registryUUID}"></f:viewParam>
        <f:event type="javax.faces.event.PreRenderViewEvent" listener="#{processHandler.postViewParamInit(true)}"></f:event>
    </f:metadata>

    <h:body>
        <ui:composition template="#{conf.templatePath}/frontend.xhtml">
			<ui:param name="lang" value="#{localeBean.locale.language}" />
            <ui:param name="pageTitle"
                      value="#{i18n['common.proc']}#{i18n['delimiter']}#{i18n['public.dataset.datasetOverviewPage']}" />
            <ui:param name="pageSubTitle"
                      value="#{i18n['public.dataset']}: #{processHandler.process.baseName.getValueWithFallback(lang)} (#{processHandler.process.version})" />
			<ui:param name="activeMenu" value="#{Constants.MENU_PROCESS}" />
            <ui:define name="content">
            	<ui:include src="./datasetdetail/include/otherVersionsAvailableStaticMessage.xhtml">
            		<ui:param name="handler" value="#{processHandler}"/>
            		<ui:param name="detailsView" value="false"/>
            		<ui:param name="urlgen" value="#{url.process}" />
            	</ui:include>
                <h:form id="datasetDetails">
                <div id="datasetPage">
                    <div class="floatRight">
                            <h:panelGrid columns="#{not empty conf.convertXLSXAPI ? 2 : 3}" columnClasses="datasetBlock ui-widget-content, datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                                <h:panelGroup rendered="#{applicationInfoBean.registryBasedNetworking and processHandler.registryUUID!=null}">
                                    <h:outputText value="#{i18n[processHandler.datasetValidationResult]}"
                                        styleClass="#{processHandler.datasetValidationResult=='VALID' ? '' : 'redText'}"></h:outputText>
                                </h:panelGroup>
                            <h:panelGroup>
                                <h:outputLink rendered="#{processHandler.foreignDataSet}" value="#{processHandler.foreignHTMLResourceURL}" target="_blank">
                                    <h:outputText rendered="#{processHandler.process.accessRestricted}"
                                        value="#{i18n['public.proc.viewForeignDataset']} #{i18n['public.proc.restrictedToMetadata']}"></h:outputText>
                                    <h:outputText rendered="#{not processHandler.process.accessRestricted}" value="#{i18n['public.proc.viewForeignDataset']}"></h:outputText>
                                </h:outputLink>
                              <h:panelGroup rendered="#{not processHandler.foreignDataSet}" >
	                            <h:outputLink value="#{conf.contextPath}#{url.process.getResourceDetailHtmlWithStock(processHandler.process)}" target="_blank">
	                                <h:outputText rendered="#{user.hasDatasetDetailRights(processHandler.process)}" value="#{i18n['public.proc.viewDatasetDetail']}" />
	                                <h:outputText rendered="#{not user.hasDatasetDetailRights(processHandler.process)}" value="#{i18n['public.proc.viewMetadataDataset']}" />
	                            </h:outputLink>
	                            <!-- &nbsp; -->
	                            <h:outputLink value="#{conf.contextPath}#{url.process.getResourceDetailHtmlAltWithStock(processHandler.process)}" target="_blank" rendered="#{conf.displayConfig.showAlternativeHtmlLink}">
	                                <h:outputText rendered="#{user.hasDatasetDetailRights(processHandler.process)}" value="#{i18n['public.proc.viewDatasetDetail']} (#{i18n['common.alternativeView']})" />
	                                <h:outputText rendered="#{not user.hasDatasetDetailRights(processHandler.process)}" value="#{i18n['public.proc.viewMetadataDataset']} (#{i18n['common.alternativeView']})" />
	                            </h:outputLink>
	                          </h:panelGroup>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:outputText rendered="#{processHandler.foreignDataSet}">
                                    <h:outputText rendered="#{processHandler.process.accessRestricted}" value="#{i18n['public.proc.downloadForeignDatasetRestricted']}"
                                        styleClass="redText"></h:outputText>
                                    <h:outputLink rendered="#{not processHandler.process.accessRestricted}" value="#{processHandler.foreignXMLResourceURL}">
                                        #{i18n['public.proc.downloadDataset']} </h:outputLink>
                                </h:outputText>
                                <h:outputText rendered="#{not processHandler.foreignDataSet}">
                                    <h:outputLink value="#{conf.contextPath}#{url.process.getResourceDetailXml(processHandler.process)}" rendered="#{user.hasDatasetDetailRights(processHandler.process)}">#{i18n['public.dataset.downloadDatasetXML']}</h:outputLink>
                                    <h:outputText rendered="#{not user.hasDatasetDetailRights(processHandler.process)}" value="#{i18n['public.proc.downloadDatasetRestricted']}"
                                        styleClass="redText"></h:outputText>
                                </h:outputText>
                            </h:panelGroup>
                            <h:panelGroup>
                                <h:outputText rendered="#{not processHandler.foreignDataSet}">
                                <h:outputLink value="#{conf.contextPath}#{url.process.getProcessDependenciesZIP(processHandler.process)}" rendered="#{user.hasDatasetDetailRights(processHandler.process)}">#{i18n['public.dataset.downloadDatasetDependencies']}</h:outputLink>
                                    <h:outputText rendered="#{not user.hasDatasetDetailRights(processHandler.process)}" value="#{i18n['public.proc.downloadDatasetRestricted']}"
                                        styleClass="redText"></h:outputText>
                                </h:outputText>
                            </h:panelGroup>
							<h:panelGroup rendered="#{not empty conf.convertXLSXAPI}">
                                <h:outputText rendered="#{not processHandler.foreignDataSet}">
                                <h:outputLink value="#{conf.contextPath}#{url.process.convert2XLSX(processHandler.process)}" rendered="#{user.hasDatasetDetailRights(processHandler.process) }">#{i18n['public.dataset.downloadDatasetXLSX']}</h:outputLink>
                                    <h:outputText rendered="#{not user.hasDatasetDetailRights(processHandler.process)}" value="#{i18n['public.proc.downloadDatasetRestricted']}"
                                        styleClass="redText"></h:outputText>
                                </h:outputText>
                            </h:panelGroup>
                        </h:panelGrid>
                    </div>
                    <div class="clearRight">
                        <h:panelGrid columns="4"
                            columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.fullName']}</div>
                                <h:outputText value="#{processHandler.process.name.getValueWithFallback(lang)}" styleClass="boldText"></h:outputText>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.dataset.location']}</div>
                                <h:outputText value="#{processHandler.process.location}" styleClass="boldText"></h:outputText>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.dataset.refYear']}</div>
                                <h:outputText value="#{processHandler.process.timeInformation.referenceYear}" styleClass="boldText"></h:outputText>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.proc.validUntilYear']}</div>
                                <h:outputText value="#{processHandler.process.timeInformation.validUntil}" styleClass="boldText"></h:outputText>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="4"
                            columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.refFlows']}</div>
                                <soda:dataListStyled dataListValue="#{processHandler.process.referenceExchanges}">
									<ui:param name="refExchange" value="#{dataListStyledVar}" />
									<soda:switchLinkOrText
										outputLinkValue="#{processHandler.getReferenceUrl(refExchange.flowReference, url.flow)}"
										outputLinkTitle="#{i18n['common.flow']}#{i18n['delimiter']}#{i18n['public.dataset']}"
										outputTextValue="#{refExchange.flowName.getValueWithFallback(lang)} - #{refExchange.meanAmount} * #{processHandler.referenceProductFlowPropMeanAmount!=null ? processHandler.referenceProductFlowPropMeanAmount : '(not available)'} #{refExchange.referenceUnit} #{not empty refExchange.flowPropertyName.getValueWithFallback(lang) ? '('.concat(refExchange.flowPropertyName.getValueWithFallback(lang)).concat(')') : ''}" /> 
                                </soda:dataListStyled>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.type']}</div>
                                <h:outputText value="#{processHandler.process.type.value}"></h:outputText>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.parameterized']}?</div>
                                <h:outputText rendered="#{processHandler.process.parameterized}" value="#{i18n['public.proc.yes']}"></h:outputText>
                                <h:outputText rendered="#{not processHandler.process.parameterized}" value="#{i18n['public.proc.no']}"></h:outputText>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.resultsIncluded']}?</div>
                                <h:outputText rendered="#{processHandler.process.hasResults}" value="#{i18n['public.proc.yes']}"></h:outputText>
                                <h:outputText rendered="#{not processHandler.process.hasResults}" value="#{i18n['public.proc.no']}"></h:outputText>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="2" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.dataset.cat']}</div>
                                <h:outputText value="#{processHandler.process.classification.classHierarchyAsString}"></h:outputText>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.dataset.synonyms']}</div>
                                <h:outputText value="#{processHandler.process.synonyms.getValueWithFallback(lang)}"></h:outputText>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="2" columnClasses="datasetBlock ui-widget-content highlighted,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.dataset.useAdvice']}</div>
                                <h:outputText value="#{processHandler.process.useAdvice.getValueWithFallback(lang)}"></h:outputText>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.datasetUse']}</div>
                                <h:outputText value="#{processHandler.process.approvedBy.shortDescription.value}"></h:outputText>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="1" columnClasses="datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.dataset.comment']}</div>
                                <h:outputText value="#{processHandler.process.description.getValueWithFallback(lang)}"></h:outputText>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="3" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.methodPrinciple']}</div>
                                <h:outputText value="#{processHandler.process.LCIMethodInformation.methodPrinciple.value}"></h:outputText>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.methodApproaches']}</div>
                                <p:dataList value="#{processHandler.approaches}" var="approach" styleClass="ourDataList">
                                    <h:outputText value="#{approach.value}"></h:outputText>
                                </p:dataList>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.completeness']}</div>
                                <h:outputText value="#{processHandler.process.completenessProductModel.value}"></h:outputText>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="1" columnClasses="datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.reviews']}</div>
                                <p:dataList value="#{processHandler.process.reviews}" var="review" styleClass="ourDataListNoBullet">
                                    <h:outputText value="#{review.type.value} by"></h:outputText>
                                    <p:dataList value="#{review.referencesToReviewers}" var="reviewer" styleClass="ourDataList">
                                        <h:outputLink rendered="#{not empty reviewer.refObjectId}" value="resource/contacts/#{reviewer.refObjectId}" target="_blank">
                                            <h:outputText value="#{reviewer.shortDescription.value}"></h:outputText>
                                        </h:outputLink>
                                        <h:outputLink rendered="#{empty reviewer.refObjectId}" value="#{reviewer.uri}" target="_blank">
                                            <h:outputText value="#{reviewer.shortDescription.getValueWithFallback(lang)}"></h:outputText>
                                        </h:outputLink>
                                    </p:dataList>
                                    <h:panelGroup rendered="#{not empty review.dataQualityIndicators}">
                                        <div class="datasetLabel">#{i18n['public.proc.indicators']}</div>
                                        <p:dataList value="#{review.dataQualityIndicatorsAsList}" var="indicator" styleClass="ourDataList">
                                            <h:outputText value="#{indicator.name.value}: #{indicator.value.value}"></h:outputText><h:outputText rendered="#{not empty indicator.numericValue}" value=" - #{indicator.numericValue}"/>
                                        </p:dataList>
                                    </h:panelGroup>
                                </p:dataList>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="1" columnClasses="datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.conditions']}</div>
                                <div class="datasetLabel">#{i18n['public.proc.copyright']}</div>
                                <h:outputText rendered="#{processHandler.process.accessInformation.copyright}" value="#{i18n['public.proc.yes']}"></h:outputText>
                                <h:outputText rendered="#{not processHandler.process.accessInformation.copyright}" value="#{i18n['public.proc.no']}"></h:outputText>
                                <h:panelGroup rendered="#{not empty processHandler.process.accessInformation.licenseType}">
                                    <div class="datasetLabel">#{i18n['public.proc.licenseType']}</div>
                                    <h:outputText value="#{processHandler.process.accessInformation.licenseType.value}"></h:outputText>
                                </h:panelGroup>
                                <h:panelGroup rendered="#{not empty processHandler.process.accessInformation.useRestrictions.value}">
                                    <div class="datasetLabel">#{i18n['public.proc.accessInfo']}</div>
                                    <h:outputText value="#{processHandler.process.accessInformation.useRestrictions.getValueWithFallback(lang)}"></h:outputText>
                                </h:panelGroup>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="2" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.owner']}</div>
                                <h:outputText value="#{processHandler.process.ownerReference.shortDescription.getValueWithFallback(lang)}"></h:outputText>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.technicalPurpose']}</div>
                                <h:outputText value="#{processHandler.process.technicalPurpose.getValueWithFallback(lang)}"></h:outputText>
                            </h:panelGroup>
                        </h:panelGrid>
                            <h:panelGrid columns="2" columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.exchange.inputProducts']}</div>
                                <p:dataList value="#{processHandler.inputProducts}" var="ex" styleClass="ourDataList">
                                    <h:link value="#{ex.name.defaultValue}" outcome="#{url.pflow.getDetail(ex)}" />
                                </p:dataList>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.exchange.coProducts']}</div>
                                <p:dataList value="#{processHandler.coProducts}" var="ex" styleClass="ourDataList">
                                    <h:link value="#{ex.name.defaultValue}" outcome="#{url.pflow.getDetail(ex)}" />
                                </p:dataList>
                            </h:panelGroup>
                        </h:panelGrid>
                        <h:panelGrid columns="#{processHandler.otherVersionPresent ? 5 : 4}"
                            columnClasses="datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content,datasetBlock ui-widget-content">
                              <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.datasetVersion']}</div>
                                <h:outputText value="#{processHandler.process.dataSetVersion}"></h:outputText>
                            </h:panelGroup>
                             <h:panelGroup>
                                <div class="datasetLabel">#{i18n['common.timeStamp']}</div> 
                                <h:outputText value="#{processHandler.xmlDataset.administrativeInformation.dataEntryBy.timeStamp}"></h:outputText>
                            </h:panelGroup> 
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.datasetFormat']}</div>
                                <h:outputText value="#{processHandler.process.format}"></h:outputText>
                            </h:panelGroup>
                             <h:panelGroup rendered="#{processHandler.otherVersionPresent}">
                                <div class="datasetLabel">#{i18n['public.dataset.otherVersions']}</div>
                                <p:dataList value="#{processHandler.otherVersions}" var="ov" styleClass="ourDataList">
                                    <h:link value="#{ov.version}" outcome="#{url.process.getDetail(ov)}" />
                                </p:dataList>
                            </h:panelGroup>
                            <h:panelGroup>
                                <div class="datasetLabel">#{i18n['public.proc.complianceSystems']}</div>
                                <p:dataList value="#{processHandler.complianceSystems}" var="compliance" styleClass="ourDataList">
                                    <h:outputText value="#{compliance.name} (#{i18n['public.proc.overallCompliance']}: #{compliance.overallCompliance.value})"></h:outputText>
                                </p:dataList>
                            </h:panelGroup>
                        </h:panelGrid>
                        	<p:panel id="tagPanel" header="#{i18n['public.proc.tag']}">
                        		<ui:include src="./datasetdetail/include/listTags.xhtml">
                        			<ui:param name="showInvisibleTags" value="true"/>
                        		</ui:include>
                        	</p:panel>
                            <p:panel id="registriesPanel" header="#{i18n['admin.registerDataSets.registeredIn']}" rendered="#{applicationInfoBean.showRegistrationControls}">
                                <p:dataTable id="registriesTable" var="regData" value="#{processHandler.registrations}" paginator="true" rows="15" lazy="false"
                                    rowsPerPageTemplate="5,10,15,50"
                                    paginatorTemplate="{CurrentPageReport} {FirstPageLink}
					                     {PreviousPageLink} {PageLinks} {NextPageLink}
					                     {LastPageLink} {RowsPerPageDropdown} #{i18n['common.list.entriesPerPage']}"
                                    rendered="#{not empty processHandler.registrations}">
                                    <p:column headerText="#{i18n['admin.registry.name']}">
                                        <h:link value="#{regData.registry.name}" outcome="admin/registryDetails?id=#{regData.registry.id}" rendered="#{not regData.glad}"/>
                                        <h:outputText value="GLAD" rendered="#{regData.glad}"/>
                                    </p:column>
                                    <p:column headerText="#{i18n['admin.registry.baseUrl']}">
                                        <h:outputText value="#{regData.glad ? conf.gladUrl : regData.registry.baseUrl}"></h:outputText>
                                    </p:column>
                                    <p:column headerText="#{i18n['admin.registerDataSets.status']}">
                                        <h:outputText value="#{i18n[regData.status]}" rendered="#{not regData.glad}"></h:outputText>
                                    </p:column>
                                    <p:column headerText="#{i18n['admin.registerDataSets.action']}" rendered="#{user.hasAdminAreaAccessRight()}">
                                        <p:commandLink action="#{processHandler.setSelectedDataSetRegistrationData(regData)}" oncomplete="PF('deregistration').show();"
                                            rendered="#{(not regData.glad) and regData.status=='ACCEPTED'}">
                                            <h:outputText value="#{i18n['admin.registerDataSets.deregisterProcess']}"></h:outputText>
                                        </p:commandLink>
                                    </p:column>
                                </p:dataTable>
                                <h:outputText rendered="#{empty processHandler.registrations}" value="#{i18n['admin.registerDataSets.process_not_registered']}"></h:outputText>
                            </p:panel>
                    </div>
                </div>

                    <p:dialog header="#{i18n['admin.deregisterDataSet.deregistrationHeader']}" widgetVar="deregistration" resizable="false" severity="alert" modal="true"
                        width="340" onHide="document.getElementById('datasetDetails:deregistrationreason').value=''">
                        <h:panelGrid columns="1">
                            <h:outputText for="deregistrationreason" value="#{i18n['admin.deregisterDataSet.areYouSureDeregister']}"></h:outputText>
                            <h:outputText for="deregistrationreason" value="#{i18n['admin.deregisterDataSets.enterDeregistrationReason']}"></h:outputText>
                            <p:inputTextarea id="deregistrationreason" value="#{processHandler.reason}" style="width:300px;height:100px;"></p:inputTextarea>
                        </h:panelGrid>
                        <p:commandButton value="#{i18n['common.button.yes']}" oncomplete="PF('deregistration').hide()" actionListener="#{processHandler.deregisterSelected}"
                            update="datasetDetails"></p:commandButton>
                        <p:commandButton value="#{i18n['common.button.no']}" onclick="PF('deregistration').hide()" type="button"></p:commandButton>
                    </p:dialog>

                </h:form>

                <ui:include src="/messages.xhtml"/>

            </ui:define>
        </ui:composition>
    </h:body>
</html>
