<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:body>
        <ui:composition template="/admin/layout/adminDesign.xhtml">
            <ui:param name="pageTitle" value="#{i18n['admin.jobs.showList']}" />
            <ui:define name="content">
                <h:form id="tableForm" prependId="false">
				<div class="floatRight">
					<p:selectBooleanCheckbox
						itemLabel="#{i18n['admin.jobs.autoupdate']}"
						style="margin-right: 5px;" id="autoupdate"
						value="#{jobsHandler.autoUpdate}">
						<p:ajax update="tableForm showJobsTable"/>
					</p:selectBooleanCheckbox>
					<p:commandButton value="refresh" update="showJobsTable" />
				</div>

				<p:poll id="pollingComponent" async="#{jobsHandler.autoUpdate}"
					stop="#{!jobsHandler.autoUpdate}" interval="5" process="@this"
					partialSubmit="true" update="tableForm showJobsTable"
					widgetVar="polling" autoStart="#{jobsHandler.autoUpdate}"
					rendered="true" />

				<p:dataTable id="showJobsTable"
                                 var="job" 
                                 value="#{jobsHandler.lazyModel}"
                                 lazy="true"
                                 paginator="true"
                                 rows="15" rowsPerPageTemplate="5,10,15,50"
                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink}
                                 {PreviousPageLink} {PageLinks} {NextPageLink}
                                 {LastPageLink} {RowsPerPageDropdown} #{i18n['common.list.entriesPerPage']}
                                 (#{jobsHandler.lazyModel.rowCount} #{i18n['common.list.total']})"
                                 emptyMessage="#{i18n['common.list.noneFound']}">
						
						<p:column width="3%">
							<p:rowToggler/>
						</p:column>
						
						<p:column headerText="#{i18n['admin.user']}" >
							<h:outputText value="#{job.user.userName}"/>
						</p:column>
						
						<p:column headerText="#{i18n['admin.jobs.type']}" width="6%">
							<h:outputText value="#{job.jobType.value}"/>
						</p:column>
						
                        <p:column headerText="#{i18n['admin.jobs.description']}">
                            <h:outputText value="#{job.jobName}"/>
                        </p:column>
                        
                        <p:column headerText="#{i18n['admin.jobs.firingDate']}" width="15%">
                            <h:outputText id="jobFireTime" value="#{job.jobFireTime}"/>
                        </p:column>
                        
                        <p:column headerText="#{i18n['admin.jobs.completionDate']}" width="15%">
                            <h:outputText id="jobCompletionTime" value="#{job.jobCompletionTime}"/>
                        </p:column>
                        
                        <p:column headerText="#{i18n['admin.jobs.runTime']}" width="50">
                            <h:outputText id="jobRunTime" value="#{jobsHandler.formatRunTime(job.jobRunTime)}" escape="false"/>
                        </p:column>
                         
                        <p:column headerText="#{i18n['admin.jobs.errorsCount']}" width="6%">
                            <h:outputText id="errorsCount" value="#{job.errorsCount}"/>
                        </p:column>
                        
                        <p:column headerText="#{i18n['admin.jobs.infosCount']}" width="6%">
                            <h:outputText id="infosCount" value="#{job.infosCount}"/>
                        </p:column>
                        
                        <p:column headerText="#{i18n['admin.jobs.successesCount']}" width="6%">
                            <h:outputText id="successesCount" value="#{job.successesCount}"/>
                        </p:column>
                        
                        <p:column headerText="#{i18n['admin.jobs.state']}" width="70">
                            <h:outputText id="jobState" value="#{job.jobState}"/>
                        </p:column>
                        
                        <p:rowExpansion>
						<div style="height: 200px; overflow: scroll;">
							<h:outputText styleClass="preformatted"
								value="#{jobsHandler.convertLines(job.log)}" escape="false" />
						</div>
					</p:rowExpansion>                       
                    </p:dataTable>

                	<ui:include src="/messages.xhtml" />      
                    
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
