<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:soda="http://java.sun.com/jsf/composite/sodacomp"
	template="datasetListTemplate.xhtml">

	<ui:param name="dataTableId"
		value="#{empty dtId ? 'lifeCycleModelTable' : dtId}" />
	<ui:param name="exportedFileName" value="lifeCycleModelTable" />
	<ui:param name="publicShowFacelet" value="showLifecyclemodel" />
	<ui:param name="nameFilterField" value="" />


	<ui:define name="columns">


		<!--	Classification column -->
		<c:set var="id" value="#{'classificationColumn'}" />
		<p:column id="#{id}"
			sortBy="#{dataset.classification.classHierarchyAsString}"
			exportable="true" toggleable="true"
			style="min-width:100px !important; max-width:200px !important; white-space:pre-line; overflow-wrap:break-word;"
			visible="true">

			<!-- 	COLUMN HEADER -->
			<f:facet name="header">
				<h:outputText id="#{id}HeaderText"
					value="#{i18n['common.dataset.classif']}"
					styleClass="ui-column-title" />
			</f:facet>

			<!-- 	COLUMN CONTENT -->
			<h:outputText id="#{id}ContentClassHierarchyAsString"
				value="#{dataset.classification.classHierarchyAsString}" />
		</p:column>




		<!--	 Owner column -->
		<c:set var="id" value="#{'ownerColumn'}" />
		<p:column id="#{id}" sortBy="#{dataset.name.defaultValue}"
			filterBy="#{dataset.name}" exportable="true" toggleable="true"
			style="width:100px !important; white-space:pre-line; overflow-wrap:break-word;"
			visible="true">

			<!-- 	COLUMN HEADER -->
			<f:facet name="header">
				<h:outputText id="#{id}HeaderText"
					value="#{i18n['common.proc.owner']}" styleClass="ui-column-title" />
			</f:facet>
			<f:facet name="filter">
				<p:inputText id="#{id}HeaderFilterInput" style="width:95px" 
					onkeyup="PF('dataTable').filter();" />
			</f:facet>

			<!-- 	COLUMN CONTENT -->
			<h:outputText id="#{id}ContentOwnerReference"
				outcome="#{url.lifecyclemodel.getDetail(dataset)}"
				value="#{dataset.administrativeInformation.publicationAndOwnership.referenceToOwnershipOfDataSet.shortDescription.getDefaultValue()}"
				title="#{dataset.uuidAsString}   #{dataset.version}" />
		</p:column>




		<!-- 	Compliance systems column -->
		<c:set var="id" value="#{'complianceColumn'}" />
		<p:column id="#{id}" sortBy="#{dataset.complianceSystems}"
			exportable="true" toggleable="true"
			style="width:150px !important; white-space:pre-line; overflow-wrap:break-word;  padding:0px 20px 10px 20px;"
			visible="#{conf.displayConfig.showManageProcessCompliance}">

			<!-- 	COLUMN HEADER -->
			<f:facet name="header">
				<h:outputText id="#{id}HeaderText"
					value="#{i18n['public.proc.complianceSystems']}"
					styleClass="ui-column-title" />
			</f:facet>

			<!-- 	COLUMN CONTENT -->
			<ui:repeat id="#{id}ContentList" var="cs"
				value="#{dataset.complianceSystemsAsList}">
				<li><h:outputText id="name" value="#{cs.name}" /></li>
			</ui:repeat>
		</p:column>




		<!-- 	Timestamp column-->
		<c:set var="id" value="#{'timestampColumn'}" />
		<p:column id="#{id}"
			sortBy="#{sample.administrativeInformation.dataEntryBy.timeStamp}"
			filterBy="#{dataset.administrativeInformation.dataEntryBy.timeStamp}"
			exportable="true" toggleable="true"
			style="width:90px !important; white-space:pre-line; overflow-wrap:break-word;"
			styleClass="date" visible="true">

			<!-- 	COLUMN HEADER -->
			<f:facet name="header">
				<h:outputText id="#{id}HeaderText"
					value="#{i18n['common.timeStamp']}" styleClass="ui-column-title" />
			</f:facet>
			<f:facet name="filter">
				<p:inputText id="#{id}HeaderInputText" style="width:85px !important"
					onkeyup="PF('dataTable').filter();" />
			</f:facet>

			<!-- 	COLUMN CONTENT -->
			<h:outputText id="#{id}ContentTimestamp"
				value="#{dataset.administrativeInformation.dataEntryBy.timeStamp}">
				<!-- <f:convertDateTime pattern="dd.MM.yyyy HH:mm" /> -->
			</h:outputText>
		</p:column>


	</ui:define>

	<!-- 	<div class="floatRight">
		<ui:define name="additionalButtons">
			<c:if test="#{includeActions}">
				<h:panelGroup>
					<p:commandButton id="btnValidateSelected" value="#{i18n['admin.validate']}" action="#{processListHandler.validateSelected}" disabled="#{processListHandler.nothingSelected}" styleClass="#{diaOpenBtnId}" />
					<p:commandButton id="btnQualityCheckSelected" value="#{i18n['admin.qualityCheck']}" action="#{processListHandler.qualityCheckSelected}" disabled="#{processListHandler.nothingSelected}" styleClass="#{diaOpenBtnId}" rendered="#{conf.qqaEnabled}"/>
				</h:panelGroup>
			</c:if>			
			<c:if test="#{showRegistryControls and applicationInfoBean.showRegistrationControls}">
				<ui:include src="/admin/common/include/registrationControls.xhtml">
					<ui:param name="lifecyclemodelListHandler" value="lifecyclemodelListHandler"></ui:param>
					<ui:param name="registrationHandler" value="lifecyclemodelListHandler"></ui:param>
				</ui:include>
				<ui:include src="/admin/common/include/registrationSelector.xhtml">
					<ui:param name="lifecyclemodelListHandler" value="lifecyclemodelListHandler"></ui:param>
				</ui:include>
			</c:if>
		</ui:define>
	</div> -->

</ui:composition>
