<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">


<h:head>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
	<meta http-equiv="Pragma" content="no-cache"/>
	<meta http-equiv="Expires" content="0"/>
	<h:outputStylesheet library="css" name="site.css" />
	<link type="text/css" rel="stylesheet" href="#{request.contextPath}/resources/css/#{applicationInfoBean.theme}/skin.css" />   
</h:head>

<h:body>
	<div>
		<ui:insert name="pageContent" />
	</div>
</h:body>
</html>