<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:soda="http://java.sun.com/jsf/composite/sodacomp"
	template="process_template.xhtml">
	
	<ui:define name="tabs_other_inputsOutputs_lciaResults">
	
		<c:if test="#{conf.displayConfig.showProcessesDetailLciaResultsFirst}">
			<ui:include src="./include/process_other_lciaresults.xhtml" />
		</c:if>
		
		<ui:include src="./include/process_other_exchanges.xhtml" />
		
		<c:if test="#{not conf.displayConfig.showProcessesDetailLciaResultsFirst}">
			<ui:include src="./include/process_other_lciaresults.xhtml" />
		</c:if>
		
	</ui:define>
	
</ui:composition>