<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:f="http://java.sun.com/jsf/core">

    <f:view contentType="text/html" locale="#{localeBean.locale}">
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Malaysian Life Cycle Inventory (LCI) Database</title>

            <script src="#{conf.contextPath}#{conf.templatePath}/scripts/default.js" type="text/javascript"></script>

            <link type="text/css" rel="stylesheet" href="#{conf.contextPath}#{conf.templatePath}/css/site.css" media="all" />
            <link type="text/css" rel="stylesheet" href="#{conf.contextPath}#{conf.templatePath}/css/skin.css" media="all" />  
        </h:head>
        <h:body style="background-color:#CCCCCC">
            <!-- begin of header -->
            <div>
                <table width="801" border="0" align="center" background="#{conf.contextPath}#{conf.templatePath}/image/biru.jpg" cellpadding="0">
                    <tr>
                        <th colspan="5" scope="col" background="#{conf.contextPath}#{conf.templatePath}/image/banner2011.jpg" height="180" style="padding:0px;margin:0px;"></th>
                    </tr>
                </table>
                <table width="799" border="0"  cellpadding="0" cellspacing="0" align="center">
                    <tr class="menuBackground">
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="float:left">
                                <tr>
                                    <td class="txtwhite" valign="middle" style="padding:2px 4px;">
                                        <ui:include src="leftTopMenu.xhtml" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="float:right">
                                <tr>
                                    <td class="txtwhite" valign="middle" style="padding:2px 4px;">
                                        <ui:include src="rightTopMenu.xhtml" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- end of header -->

            <table width="801" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF" style="border: 1px solid #cddff3">
                <tr>
                    <td colspan="2">
                        <div>
                            <h:panelGroup rendered="#{user.hasAdminAreaAccessRight()}" style="display:inline-block;width:100%">
                                <ui:insert name="adminMenu" />
                            </h:panelGroup> 
                        </div>
                    </td>
                </tr>
                <ui:insert name="dataSetMenu" />
                <ui:insert name="contentBody" />
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td background="#{conf.contextPath}#{conf.templatePath}/image/footer.jpg" height="10" style="padding:1px;margin:1px"><div align="right"><img src="#{conf.contextPath}#{conf.templatePath}/image/logo%20sirim.jpg" width="30" height="30" /></div></td>
                </tr>
            </table>
        </h:body>

    </f:view>
</html>

